/* footer.css */
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #333333 !important; 
  }
  
  .footer h6 {
    color: white !important;
  }
  
  .footer a {
    color: #00bcd4 !important; 
  }
  
  .footer a:hover {
    color: #008ba3 !important; 
  }
  
  .footer .MuiSvgIcon-root {
    color: white !important; 
  }
  

  